html, body, #__next {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background: url(https://i.ibb.co/87GbbFP/2799006.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* overflow: hidden;
    background-attachment: fixed; */
  }

  #__next {
    display: flex;
    flex-direction: column;
    height: 100%;
  }